@charset "UTF-8";

#resultIndex1{
	margin-bottom: 40px;
	margin-left: 224px;
	margin-top: 26px;
}

#resultIndex2{
	margin-bottom: 40px;
    margin-left: 224px;
    margin-top: 20px;
}

.table-result{
	margin-left: -92px;
}

.ajoutElement{
	margin-left: 344px;
	
}

#succes-result-ajout{
	text-align : center;
}

.no-result-found{
	margin-top: 50px;
	margin-left: 232px;
	margin-bottom: 20px;
}



#try-other-link{
    margin-left: 330px;
    margin-bottom: 20px;
}

#try-other-recherche-link {

    margin-left: 266px;

}

#result-container
{
margin-left: 0px;
font-size: 11px;	
}

.mainContainer{
	margin-top: -80px;
}

#ul-configurerAvion-header
{
	display: inline-flex;
	list-style-type:none ;
	color: aqua;
	margin-left: -60px;
}

.li-configurerAvion-header{
	width: 100px;
}

#ul-configurerAvion-body
{
	display: inline-flex;
	list-style-type:none ;
	color: white;
	margin-left: -60px;
}

.li-configurerAvion-body{
	width: 105px;
}
